<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active">
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/library-item']">Library Item</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/library-item-list']">Library Item List</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/delete-item']" >Delete With ISBN</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/borrow-item']">Borrow With ISBN</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/return-item']">Return Library Item</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/report']">Report</a>
    </li>
    <li role="presentation">
        <a [routerLink]="['/reserve-item']">Reservations</a>
    </li>
</ul>